
<div class="container">
    <div id="style-geral-table">

        <table class="table">
    
            <thead>
              <tr>
                <th>Nome</th>
                <th>Ação</th>
                <th>Local</th>
                <th>Data/Hora/Inicio</th>
                <th>Data/Hora/Fim</th>
                <th>Criador</th>
              </tr>
            </thead>
        
            <tbody>
    
              <tr>
                <td>Default</td>
                <td>Defaultson</td>
                <td>Maringá</td>
                <td>01/07/2001-10:25</td>
                <td>01/07/2011-10:25</td>
                <td>Anderson</td>
              </tr>
    
              <tr class="success">
                <td>Success</td>
                <td>Doe</td>
                <td>Tatuapé</td>
                <td>01/07/2001-10:25</td>
                <td>01/07/2011-10:25</td>
                <td>Carlos</td>
              </tr>         
    
            </tbody>
        
        </table>
        
    </div>
    
    <div id="style-margin-top-buttom" routerLinkActive="active">
        <button routerLink="/cadastracontingencia" 
        id="style-long-button" type="submit" class="btn btn-primary btn-lg">Cadastrar uma nova Contingência</button>
    </div>    
    
</div>
