/.metadata/
/CursoJavaFullStack_ALEX/
E:\Projetos_Programacao\Projetos-AngularPocDOCX\pocangular-docx\node_modules
E:\Projetos_Programacao\FullStack_AngularJava\Projeto_1\FrontEndProduto\node_modules
NFe-Python-master.zip
MonitoramentoDosGastosDoGoverno.pdf
Diagram-ArranjosCongregacionais.png
Sistema_Votacao_Instantaneo.drawio.pdf
Sistema_Votacao_Instantaneo.drawio (1).pdf
/sgport-frontend-angular
/sgport-backend-csharp
/PDFs
/Servers
/Projetos_Python
/PaginasWebParaPesquisaLeitura
/EXEMPLOS_CODIGO_PROJETOS
/DadosGeradosElasticSearch
/PaginasHtml
/API-python-angular
/refs
/NFe-Python-master.zip
/ws-devsuperior
/Tutorial_Programacao_javaSpringBoot
/Tutorial_Java_JDEVTreinamentos
/ws-devsuperior/.metadata