<router-outlet></router-outlet>

<div class="container-pai">
  <div class="filho1">
    <h1 class="titulo">App Skynn</h1>
    <h4>Quer <span>aumentar suas vendas</span> aumentando o número de pedidos? 
      Gostaria de <span>diversificar seus clientes</span>, mas não sabe como?</h4>
   
    <p>
      quer aumentar suas vendas aumentando o número de pedidos?
      gostaria de diversificar seus clientes, mas não sabe como?
      temos a solução para o seu negócio crescer até 100% ao mês. 
      Tenha seus clientes em suas  mãos, usando apenas o whatsapp 
      e nosso gerenciador de pedidos! Super fácil e intuitivo para usar no
      dia a dia e ter o controle financeiro dos seus negócios. 
      Venha nos conhecer, temos diversos planos para todos

    </p>
  </div>
  <div class="filho2">filho 2

  </div>
  <div class="filho3">filho 3

  </div>
  <div class="filho4">filho 4

  </div>
</div>
